
.box{
  background-color: aqua;
  width: 200px;
  height: 250px;
  border: 2px solid black;
  transform: perspective(15px) translateZ(10px);
  
  
  /*transform: rotate(-45deg);
  transform: scale(200,20);
  transform: skew(45deg);*/
}